@model EventPlannerWebApplication.Models.Event

@{
    var creatorName = ViewBag.CreatorName as string;
    var bestSlots = ViewBag.BestSlots as List<EventPlannerWebApplication.Dto.TimeSlot>;
}

<div class="container mt-5">
    <div class="card shadow p-4">

        <h2 class="text-center mb-4">Результат события</h2>

        <div><b>Название:</b> @Model.Title</div>
        <div><b>Создатель:</b> @creatorName</div>
        <div><b>Дата создания:</b> @Model.CreatedAt.ToLocalTime()</div>

        <div class="mt-2">
            <b>Код создателя:</b> <span class="badge bg-danger">@Model.OwnerCode</span>
        </div>
        <div class="mt-2">
            <b>Код участников:</b> <span class="badge bg-primary">@Model.PublicCode</span>
        </div>

        <hr />

        <h5>Участники:</h5>
        <ul class="list-group mb-3">
            @foreach (var p in Model.Participants)
            {
                <li class="list-group-item">@p.Name</li>
            }
        </ul>

        @if (Model.Status == EventStatus.Calculated)
        {
            <hr />

            @if (Model.IsFixedDate)
            {
                <h5>Ответы участников:</h5>
                <ul class="list-group mb-3">
                    @foreach (var p in Model.Participants)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@p.Name</span>

                            @if (p.IsAgreed == true)
                            {
                                <span class="badge bg-success">Согласен</span>
                            }
                            else if (p.IsAgreed == false)
                            {
                                <span class="badge bg-danger">Отказался</span>
                            }
                            else
                            {
                                <span class="badge bg-secondary">Создатель</span>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                @if (bestSlots != null && bestSlots.Any())
                {
                    <h5>Лучшие варианты времени:</h5>

                    <ul class="list-group mb-3">
                        @foreach (var slot in bestSlots)
                        {
                            <li class="list-group-item">
                                <b>
                                    @slot.StartUtc.ToLocalTime().ToString("dd.MM.yyyy HH:mm")
                                    —
                                    @slot.EndUtc.ToLocalTime().ToString("dd.MM.yyyy HH:mm")
                                </b>

                                <span class="text-muted ms-2">
                                    (@slot.DurationMinutes мин)
                                </span>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <div class="alert alert-warning">
                        Подходящих интервалов не найдено
                    </div>
                }
            }
        }

        <div class="d-flex justify-content-between">

            @if (Model.Status == EventStatus.Created)
            {
                <form method="post" action="/Event/Calculate">
                    <input type="hidden" name="code" value="@Model.OwnerCode" />            
                            <button type="submit" class="btn btn-success">
                                Рассчитать оптимальное время
                            </button>
                    
                </form>
            }

            <form method="post" action="/Event/FinishEvent">
                <input type="hidden" name="code" value="@Model.OwnerCode" />
                <button type="submit" class="btn btn-danger">
                    Завершить
                </button>
            </form>

            <a href="/Event/Cancel" class="btn btn-secondary">В меню</a>

        </div>

    </div>
</div>
